.about-features{
    background-image: url('../assets/homebg2.jpg');
    color: $white;
    height: auto;
    margin: 0;
    padding: 0;

    .number{
        @include number;
    }
    .title{
        @include number-title;
    }
    h2{
        @include section-title;
        
    }
    h2:after{
        @include section-divider;
    }
    .about{
        .background{
            margin: auto;
            background-image: url('../assets/homebg3.jpg');
            width: 80%;
            height: 900px;
            background-position: center;
            background-repeat: no-repeat;
            padding: 80px;
        }
        .left{
            display: inline;

            h2{
                text-align: right;
                margin-top: 30px;
                margin-right: 100px;
            }
            h2:after{
                left: 150px;
                bottom: -50px;
            }
            
        }
        .right{
            margin-top: 220px;

            p{
                font-family: $custom-font1;
                font-size: 24px;
                line-height: 1.5;
            
                span{
                    font-weight: 600;
                    letter-spacing: 1px;
                }
            }
            button{
                margin-top: 50px;
                @include button;
                background: $bgcolor1;
            }
            button:hover{
                @include hover;
                color: $custom-color1;
            }
        }
    }
    .features{
        padding-top: 70px;
        padding-bottom: 0;
        .first{
            margin-top: 150px;
        }
        .row{
            .two-col{
                width: 48%;
                margin: 30px auto;
                margin-left: 2%;
                position: relative;
                padding: 0 10px;
                span{
                    color: $custom-color2;
                    font-size: 100px;
                    font-weight: 700;
                    font-family: $custom-font1;
                    position: absolute;
                    left: -20px;
                    top: -50px;
                }
                .questions{
                    @include section-title;
                    font-size: 27px;
                }
                .descriptions{
                    font-family: $custom-font1;
                    color: $custom-color3;
                    font-size: 18px;
                    margin-top: 30px;
                    line-height: 1.8;
                }

            }

        }
        
    }
    .four-icon{
        margin-top: 45px;
        background: $bgcolor3;
        height: 300px;
        .flex-row{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .icon-content{
            justify-content: space-between;
            flex-direction: column;
            text-align:center;
            margin-top: 50px;
            height: 200px;
            width: 100%;
        }
        
        i{
            color: $bgcolor2;
            font-size: 70px;
        }
        .numbers{
            @include custom-text1;
            font-size: 50px;
            color: $white;
        }
        p{
            margin: 15px;
            color: $bgcolor2;
            font-family: $custom-font1;
            font-size: 18px;
            font-weight: 600;
            letter-spacing: 0.5px;
        }
    }
    
}