.about-features{
    background-image: url('../assets/homebg2.jpg');
    color: $white;

    .about{
        margin: auto;
        background-image: url('../assets/homebg3.jpg');
        width: 100%;
        max-width: 1300px;
        background-position: center;
        background-repeat: no-repeat;
        padding: 150px 0;
        .container{
            width: auto;
            margin-top: 0;
            display: flex;
            justify-content: row;
        
            .left{
                width: 45%;
                padding-right: 50px;
                margin-top: -50px;

                h2{
                    text-align: right;
                }
                h2:after{
                    left: 100px;
                    bottom: -50px;
                    transform: translateX(-20px);
                }
                
            }
            .right{
                width: 50%;
                margin-top: 150px;
                padding: 0;
                p{
                    @include paragraph; 
                
                    span{
                        font-weight: 600;
                        letter-spacing: 1px;
                    }
                }
                button{
                    margin-top: 50px;
                    @include button;
                    background: $bgcolor1;
                }
                button:hover{
                    @include hover;
                    color: $custom-color1;
                }
            }
        }
    }
    .features{
        padding-top: 70px;
        padding-bottom: 0;
        .first{
            margin-top: 150px;
        }
        .row{
            display: flex;
            flex-direction: row;
            .two-col{
                width: 48%;
                margin: 30px auto;
                margin-left: 2%;
                position: relative;
                padding: 0 10px;
                span{
                    color: $custom-color2;
                    font-size: 100px;
                    font-weight: 700;
                    font-family: $custom-font1;
                    position: absolute;
                    left: -25px;
                    top: -50px;
                }
                .questions{
                    @include section-title;
                    font-size: 27px;
                }
                .descriptions{
                    font-family: $custom-font1;
                    color: $custom-color3;
                    font-size: 18px;
                    margin-top: 30px;
                    line-height: 1.8;
                }

            }

        }
        
    }
    .four-icon{
        margin-top: 45px;
        background: $bgcolor3;
        height: auto;
        padding: 20px 0;
        .flex-row{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .icon-content{
            justify-content: space-between;
            flex-direction: column;
            text-align:center;
            margin-top: 50px;
        }
        
        i{
            color: $bgcolor2;
            font-size: 70px;
        }
        .numbers{
            @include custom-text1;
            font-size: 50px;
            color: $white;
        }
        p{
            margin: 15px;
            color: $bgcolor2;
            font-family: $custom-font1;
            font-size: 18px;
            font-weight: 600;
            letter-spacing: 0.5px;
        }
    }
    
}