@media (min-width:768px){
    .drop-down{
        display: none;
    }
}
@media (max-width:$desktop){
    .quote{
        padding: 30px 0;
    }   
}
@media (max-width:1100px){
    .about-features{
        .about{
            width: 100%;
        }
    }
}

@media (max-width:991px){
    .container{
        max-width:991px;
    }
    nav{
        ul{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 0;
            text-align: left;
            li{
                
            }
        }
    }
    .home{
        padding: 80px 0;
        h1{
            font-size: 50px;
            margin: auto;
        }
        h3{

            font-size: 20px;
        }
    }
    .about-features{
        .about{
            width: 90%;
            padding: 50px 0;
        }
    }
    .quote{
        p{
            font-size: 70px;
            line-height: 1.2;
        }

    }
    footer{
        .four-col{
            flex-wrap: wrap;
            .footer-content{
                width: 48%;
                margin-bottom: 30px;
            }
        }
        
    }

}
@media (max-width:767px){
    header{
        padding: 30px 0;
        
        .container{
            flex-direction: column;
            margin: auto;
            text-align: center;
        
            ul{
                text-align: center;
                margin: 20px 0;
                #search{
                    display: none;
                }
            }
        }
    }
    nav{
        padding: 40px 0;
        ul{
            display: none;
        }
    }
    .home{
        padding: 5% 0;
        background-size: 200%;
    }
    .about-features{
        padding: 0;
        height: auto;
        .about{
            max-width: 550px;
            background-position: left;
        
            .container{
                flex-direction: column;
                height: auto;
            
                .left{
                    margin-top: 170px;
                    width: 100%;
                    h2{
                        text-align: right;
                    }
                    h2:after{
                        transform: translateX(30px);
                    }
                }
                .right{
                    width: 100%;
                    margin: auto;
                    text-align: left;
                    margin-top: 100px;
                    padding-bottom: 200px;
                    p{
                        margin: 0;
                        span{
                            margin: 0;
                        }
                    }

                    button{
                        margin-top: 20px;
                    }
                }
            }
        }
        .features{
            padding: 30px 0;
            .row{
                flex-direction: column;
                margin: 80px 0 20px 0;
                .two-col{
                    margin: 20px auto;
                    width: 80%;
                    span{
                        left: 50px;
                    }
                    span, .questions{
                        text-align: center;
                    }
                }
            }
            .row:last-child{
                margin: 0;
            }
        }
        .four-icon{
            padding: 10px 0;
            .icon-content{
                margin-top: 20px;
            }
            i{
                font-size: 50px;
            }
            .numbers{
                font-size: 35px;
            }
            p{
                margin: 5px;
            }
        }
    }
    .quote{
        p{
            font-size: 40px;
        }
    }
    .news-blog{
        .news-list{
            flex-wrap: wrap;
        
            .news-content{
                margin-left: 10px;
                margin-bottom: 20px;
                width: 60%;
            }
            .news-content:nth-child(3){
                margin-left: 10px;
            }
        }     
    }
    .logo{
        padding: 50px 0;
        .logo-content{
            flex-wrap: wrap;
            img{
                margin: auto;
                margin-top: 10px;
                width: auto;
            }
            img:nth-child(4){
                margin: auto;
                margin-top: 10px;
            }
        }
    }
    footer{
        padding: 80px 0;
        .four-col{
            .footer-content{
                width: 100%;
                button{
                    i{
                        float: right;
                    }
                }
            }
        }
    }
}
