.news-blog{
    background-image: url('../assets/homebg7.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0;

    .news-list{
        display: flex;
        flex-direction: row;
        margin-top: 100px;
        .news-content{
            margin-right: 30px;
            width: 33.33%;
            display: flex;
            flex-direction: column; 
            .news-title{
                text-transform: capitalize;
                @include section-title;
                font-size: 27px;
                letter-spacing: 2px;
                margin: 20px 0;
                display: block;
            }
            .news-title:hover{
                color: $custom-color1;
                @include hover;
            }
            p{
                color: $white;
                span{
                    margin-left: 10px;
                }
            }

        }
        .news-content:nth-child(3){
            margin-right: 0;
        }
    }
}
.logo{
    background-color: $custom-color1;
    padding: 100px 0;
    .logo-content{
        display: flex;
        flex-direction: row;

        img{
            color: $extra-color2;
            opacity: .6;
            width: 24%;
            height: auto;
            margin-right: 15px;
        }
        img:nth-child(4) {
            margin-right: 0;
        }
        img:hover{
            opacity: 1;
            color: $white;
            @include hover;
        }

    }
}