.rooms{
    background-image: url('../assets/homebg5.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0;
    .container{
        margin: auto;
    }
    .head{
        margin-bottom: 120px;
    }
    .rooms-list{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .room-content{
            width: 33.33%;
            margin-right: 25px;
            img{
                width: 100%;
            }
        }
    }
    button{
        text-align: center;
        margin-left: 41%;
        margin-top: 50px;
        @include button;
        background-color: $custom-color1;
        border: 2px solid $custom-color1;
        color: $white;
    }
    button:hover{
        @include hover;
        background: transparent;
    }
}
.quote{
    background-image: url('../assets/homebg6.jpg');
    background-position: center;
    background-repeat: no-repeat;
    text-align: right;
    padding: 100px 0;
    p{
        margin-top: 20px;
        @include section-header;
        line-height: 100px;
    }
    button{
        @include button;
        margin-top: 50px;
        background-color: $custom-color1;
        border: 2px solid $custom-color1;
        color: $white;
    }
    button:hover{
        @include hover;
        background: transparent;
    }
}