body{
    color: #fff;
}

ul{
    list-style: none;
    li{
        display: inline;
    }
}
.container{
    max-width: 1200px;
    @media (max-width:991px){
        max-width: 550px;
    }
}
*{
    box-sizing: border-box;
}
.head{
    .number{
        @include number;
    }
    .title{
        @include number-title;
    }
    h2{
        @include section-header;
        
    }
    h2:after{
        @include section-divider;
    }
}