body{
    color: #fff;
}

ul{
    list-style: none;
    li{
        display: inline;
    }
}
.container{
    max-width: 1200px;
    min-width: 1200px;
}
*{
    box-sizing: border-box;
}
.head{
    .number{
        @include number;
    }
    .title{
        @include number-title;
    }
    h2{
        @include section-title;
        
    }
    h2:after{
        @include section-divider;
    }
}